<h1><%= title %></h1>

<% if (messages.success && messages.success.length > 0) { %>
  <div class="alert alert-success notice">
    <% messages.success.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (messages.error && messages.error.length > 0) { %>
  <div class="alert alert-danger notice">
    <% messages.error.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<div class="action-links">
  <a href="/inv/add-inventory">Add Vehicle</a>
  <a href="/inv/addclassification">Manage Classifications</a>
</div>


