
    <h1><%= title %></h1>
    <section class="error-message">
  

      <div style="margin-top: 20px;">
        <h2>Uh oh… something's wrong under the hood </h2>
        <img id="error-img" src="https://images.unsplash.com/photo-1560024253-570f054dea63?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="car hood">
        <a href="/">Get Some Help going Home</a>
      </div>
    </section>